  {{#each directories}}
<li class="file-item{{@index}} list-group-item list-group-item-action">
    <div class="row">
        <div class="col-12 col-lg-9 vertical-align">
            <i class="material-icons" style="margin-right: 10px;">folder</i>
            {{this}}
        </div>
    </div>
</li>
{{/each}}

 {{#each files}}
<li class="file-item{{@index}} list-group-item list-group-item-action">
    <div class="row">
        <div class="col-12 col-lg-9 vertical-align">
            <i class="material-icons" style="margin-right: 10px;">insert_drive_file</i>
            {{this}}
        </div>
    </div>
</li>
{{/each}}