html
  head
    link(href='https://fonts.googleapis.com/css?family=Oswald', rel='stylesheet')
    link(href='serverino.css', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    style(type='text/css').
      .download:hover {
        background-color:#9E9E9E;
      }
    title!= title
  body
    .intestazione
      h1 Serverino : files
    .caricafile
      form.form(id='uploadForm', action='upload', method='post', enctype='multipart/form-data')
        input#filebrowser(type='file', name='filetoupload', value='' style="display: none;")
        input#filechooser(type="button" value="Browse..." onclick="document.getElementById('filebrowser').click();")
        input(type="hidden" id="filenameinput")
        label(for="filebrowser" id="browsefilename")
        input#fileuploader(type='submit', name='button', value='')
    .listafile
      each file, key in files
        div(class='link1'+key)
          a(href='/files/'+file class="textlink")= file
          img(src='delete.png' class='delete'+key+ ' icon' id=file)
    script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
    script(src='index.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js')